body {
    width: 400px;
    margin: auto;
    border-radius: 60px;
    background-color: lime;
    margin-top: 5%;  
}

h3 {
    text-align: center;
}

td {
    border:  1px solid black;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 60%;
    background-color: white;
}    

button {
    width: 53px;
}

a:hover {
    background-color: gold;
}