body {
    width: 400px;
    margin: 0 auto;
    border-radius: 60px;
    /* background-color:cornflowerblue;   */
    margin-top: 5%;
    text-align: center;
    background-image: url(../images/sweetpic.jpg);
    padding: 85px;
}

h1 {
    color: lime;
}

h3, h4 {
    text-align: center;
    color: linen;
}

td {
    border:  1px solid rgb(240, 250, 23);
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 60%;
    background-color: white;
}    

button {
    width: 53px;
    font-size: 20px;
    color: turquoise;
    background: transparent;
    border: none; 
    padding-bottom: 0;

    /* color: white; */
    /* font-size: 20px; */
    /* width: 53px;  */
    /* border: none; */
    
    
     
}

a:hover {
    background-color: gold;
    
}


 /* @media only screen  
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        width: 100%;
    }
} */

#replay {
    padding-top: 20px;
    width: 300px;
}

table {
    padding-top: 20px;
    
}


/* 
@media only screen 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        width: 100%;
    }
} */